
<div class="jumbotron mt-4">
    <h1 class="display-4">CRUD App</h1>
    <p class="lead">Prueba técnica </p>
    <hr class="my-">
    <p>un pequeño sistema de administración de usuarios, creado en NodeJS, Express y Handlebars, para el almacenamiento de datos</p>
    <a href="http"></a>
</div>
